@import "frappe.css";

* {
  border: none;
  border-radius: 6px;
  font-family: JetBrainsMono, JetBrainsMonoNLNerdfont;
  font-size: 14px;
  min-height: 0;
}

window#waybar {
  background: @crust;
  color: @text;
}

#workspaces {
  background-color: @crust;
  padding-left: 6px;
  padding-right: 12px;
  border: 6px;
  border-radius: 6px;
}

#workspaces button {
  padding: 6px 6px;
  background: transparent;
  color: @text;
  border-radius: 6px;
}

#workspaces button.active {
  color: @sapphire;
  border-radius: 6px;
}

#window {
  padding: 6px 12px;
  color: @peach;
  background-color: @crust;
  border-radius: 6px;
}

#clock {
  padding: 6px 12px;
  background-color: @crust;
  color: @yellow;
  border-radius: 6px;
}
