:root {
  --border-radius: 3px;
  --cc-bg: rgba(21, 21, 29, 1.0);

  --widget-background: rgba(21, 21, 29, 1.0);
  --noti-bg-alpha: 1.0;

  --padding: 16px;
}

* {
  font-family: JetBrainsMono, JetBrainsMonoNLNerdFont;
}

.control-center {
  border-radius: 3px;
}

.notification-row .notification-background .notification {
  background: var(--cc-bg);
}

.widgets > .widget,
.widget-mpris > carouselindicatordots,
.widget-mpris > box > button {
  background: var(--widget-background);
  border-radius: var(--border-radius);
  padding: 16px;
  border: var(--border);
}

.control-center-list-placeholder {
  padding: var(--padding);
}

.notification-group {
  border-radius: var(--border-radius);
  padding: 8px;
}

.widget.widget-mpris {
  background: transparent;
  border-radius: 0;
  padding: 0;
  border: none;
}
.widget.widget-mpris > carouselindicatordots {
  --dots-padding: 4px;
  padding: var(--dots-padding);
  padding-left: var(--dots-padding);
  padding-right: calc(6px + var(--dots-padding));
  margin: 0;
  margin-top: var(--padding);
}
.widget-mpris > box > button:hover {
  background: rgba(46, 46, 46, 1);
}
.widget-mpris-player {
  box-shadow: none;
  border: var(--border);
  margin: 0 var(--padding);
}
.widget-mpris-player:only-child {
  margin: 0;
}
